Package: com.akeaswaran.isolate
Name: Isol8
Depends: mobilesubstrate, preferenceloader, firmware (>=8.0)
Version: 1.2
Architecture: iphoneos-arm
Description: How iOS 8's Messages DND mode was supposed to be implemented.
Maintainer: SHIVADOC <shivadoc15@gmail.com>
Author: SHIVADOC <shivadoc15@gmail.com>
Section: Tweaks
Icon: file:///Library/PreferenceBundles/IsolatePrefs.bundle/IsolatePrefs@2x.png
